.container.gifs {
  width: 350px;
}

.gifs > button {
  align-self: center;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
}

.gifs > input {
  padding: 5px 10px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.gifs > input:focus {
  border-color: rgba(0, 0, 0, 1);
}
